h1{
    text-align: center;
    border:1px solid red ;
    padding: 15px; ;
    background-color: yellow;
    width: 500px; 
    margin:auto;
    border-radius: 20px;
}
section{
border-bottom: 10px solid gray;
border-radius: 5px;

}

img{
    border-radius: 50%;
}